[submodule "tmux/plugins/catppuccin"]
	path = tmux/plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule "fzf/git"]
	path = fzf/git
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "fzf/docker"]
	path = fzf/docker
	url = https://github.com/MartinRamm/fzf-docker.git
[submodule "k9s/skins/catppuccin"]
	path = k9s/skins/catppuccin
	url = https://github.com/catppuccin/k9s.git
[submodule "containers/hugo/themes/hugo-book"]
	path = containers/hugo/themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
