[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "macos-terminal-themes"]
	path = macos-terminal-themes
	url = https://github.com/lysyi3m/macos-terminal-themes.git
